<template>
    <li class="food-item">
        <div class="header">
            <img :src="'/images/' + imageName" :alt="imageAlt">
        </div>
        <div class="title">
            {{ title }}
        </div>
    </li>
</template>

<script>
export default {
    props: {
        imageName: {
            type: String,
            require: true,
        },
        imageAlt: {
            type: String,
            require: true,
        },
        title: {
            type: String,
            require: true,
        }
    }
}
</script>

<style>
.food-item {
    box-shadow: 2px 2px 2px 2px #999999;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.food-item .header img {
    width: 100px;
    height: 100px;
}
.food-item .title {
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    padding: 30px;
}
</style>
