<template>
    <div>
        <div id="be_header">
            오늘 뭐 먹지?
            <p>
                <a href="localhost:3000" id="main-page">메인화면</a>
            </p>
        </div>
        <Nuxt />
        <div id="copyright">
            <p>
                경기도 안산시 단원구 xx동 111111호 <br />
                010-0000-0000/ beexist2000@gmail.com <br />
                Copyright(c) beexist
            </p>
        </div>
    </div>
</template>
<style>
#be_header {
    background-color: #C4DBFF;
    padding: 25px 15px;
    font-weight: 800;
    font-size: 20px;
}
#copyright {
    padding: 15px;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 30px;
}
#main-page {
    border: #999999 solid 1px ;
    border-radius: 5px;
    text-decoration: none;
    background-color: green;
    color: #FFFFFF;
    padding: 5px;
}
</style>
