<template>
    <div class="food-body">
        <ul class="item-list">
            <FoodItem
                v-for="(item, index) in foodList"
                v-bind:key="'foodItem' + index"
                v-bind:imageName=item.foodImg
                v-bind:imageAlt=item.foodImgAlt
                v-bind:title=item.foodName
                @click.native="choiceFood(index)"
            />
        </ul>
        <ul v-if="selectedIndex != null" class="food-detail">
            <li>음식명: {{ foodList[selectedIndex].foodName}}</li>
            <li>칼로리: {{ foodList[selectedIndex].calorie}}cal</li>
            <li>설명: {{ foodList[selectedIndex].description }}</li>
            <li>효능: {{ foodList[selectedIndex].efficacy }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return {
            selectedIndex: null,
            foodList: [
                {foodName: '짜장면1', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어1', efficacy: '살쪄요1'},
                {foodName: '짜장면2', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어2', efficacy: '살쪄요2'},
                {foodName: '짜장면3', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어3', efficacy: '살쪄요3'},
                {foodName: '짜장면4', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어4', efficacy: '살쪄요4'},
                {foodName: '짜장면7', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어7', efficacy: '살쪄요7'},
                {foodName: '짜장면8', foodImg: 'apple.png', foodImgAlt: '사과', calorie: 100, description: '참맛있어8', efficacy: '살쪄요8'}
            ]
        }
    },
    methods: {
        choiceFood(index) {
            this.selectedIndex = index
        }
    }
}
</script>

<style>
div.food-body {
    text-align: center;
    display: flex;
}
ul.item-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
ul.food-detail {
    list-style: none;
    text-align: left;
    border: #333333 solid 1px;
    border-radius: 5px;
    padding: 50px;
    margin-left: 50px;
    background-color: #F8F8F8;
}
</style>
